  <!--Header Start-->
  <header id="main-header" class="main-header"> 
    <!--topbar-->
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <ul class="topsocial">
              <li><a href="https://www.facebook.com/tubakademi" class="fb"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/tubacademy" class="tw"><i class="fab fa-twitter"></i></a></li>
              <!-- <li><a href="#" class="insta"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" class="in"><i class="fab fa-linkedin-in"></i></a></li> -->
              <li><a href="https://www.youtube.com/TanselUrcanBasketbolAkademii" class="yt"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="toplinks">
              <li class="lang-btn">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-europe"></i> TÜRKÇE </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"> 
                    <a class="dropdown-item" href="#">TÜRKÇE</a> 
                    <a class="dropdown-item" href="#">ENGLISH</a>
                  </div>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    <!--topbar end--> 
    <!--Logo + Navbar Start-->
    <div class="logo-navbar">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-5">
            <div class="logo"><a href="home.html"><img src="assets/img/brand/tub-akademi-logo.png" alt="Tansel Urcan Basketbol Akedemi"></a></div>
          </div>
          <div class="col-md-10 col-sm-7">
            <nav class="main-nav">
              <ul>
                <li class="nav-item"> <a href="/home.html">ANASAYFA</a></li>
                <li class="nav-item drop-down"> <a href="">HAKKIMIZDA</a>
                  <ul>
                    <li><a href="arkasayfa.html">TUB Akademi</a></li>
                    <li><a href="arkasayfa.html">Ekibimiz</a></li>
                  </ul>
                </li>
                <!-- <li class="nav-item drop-down"> <a href="">Players</a>
                  <ul>
                    <li><a href="team-one.html">Team One</a></li>
                    <li><a href="team-two.html">Team Two</a></li>
                    <li><a href="team-three.html">Team Three</a></li>
                    <li><a href="team-four.html">Team Four</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="staff-details.html">Staff Details</a></li>
                  </ul>
                </li>
                <li class="nav-item drop-down"> <a href="">Features</a>
                  <ul>
                    <li class="drop-down"> <a href="#">Shop</a>
                      <ul>
                        <li><a href="products-grid.html">Product Grid</a></li>
                        <li><a href="products-grid-two.html">Product Grid Two</a></li>
                        <li><a href="products-grid-three.html">Product Grid Three</a></li>
                        <li><a href="products-list.html">Product List</a></li>
                        <li><a href="shop-details.html">Shop Details</a></li>
                      </ul>
                    </li>
                    <li class="drop-down"> <a href="#">Gallery</a>
                      <ul>
                        <li><a href="gallery-2-col.html">Gallery Two Col</a></li>
                        <li><a href="gallery-3-col.html">Gallery Three Col</a></li>
                        <li><a href="gallery-clasic.html">Gallery Classic</a></li>
                        <li><a href="gallery-massonry.html">Gallery Massonry</a></li>
                        <li><a href="gallery-modern.html">Galery Modern</a></li>
                      </ul>
                    </li>
                    <li><a href="groups.html">Groups</a></li>
                    <li><a href="page-404.html">Page 404</a></li>
                    <li><a href="page-404-one.html">Page 404 Two</a></li>
                  </ul>
                </li> -->
                <!-- <li class="nav-item"> <a href="point-table.html">Point Table</a> </li> -->
                <li class="nav-item drop-down"> <a href="">PAMUKSPOR SK</a>
                  <ul>
                    <li><a href="news-grid.html">Hakkında</a></li>
                    <li><a href="news-large.html">Takımlar</a></li>
                    <li><a href="news-list.html">Puan Durumları</a></li>
                    <li><a href="news-details.html">Haberler</a></li>
                  </ul>
                </li>
				        <li class="nav-item drop-down"> <a href="">ORGANİZASYON</a>
                  <ul>
                    <li><a href="fixtures-layout-1.html">Kamplar</a></li>
                    <li><a href="fixtures-layout-2.html">Turnuvalar</a></li>
                   
                  </ul>
                </li>
                
                <li class="nav-item"> <a href="/contact.html">İLETİŞİM</a></li>
                <li class="nav-item buy-ticket"> <a href="#">KAYIT FORMU</a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--Logo + Navbar End--> 
  </header>
  <!--Header End--> 