<!-- ========== HEADER ========== -->
<header id="header" class="u-header">
  <div class="u-header__section">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
        <!-- Logo -->
        <div class="u-header__navbar-brand-wrapper">
          <a class="navbar-brand u-header__navbar-brand" href="index.html" aria-label="Space">
            <img class="u-header__navbar-brand-default" src="assets/img/brand/esteda-hair-logo.webp" alt="Logo">
            <img class="u-header__navbar-brand-mobile" src="assets/img/brand/esteda-hair-logo.webp" alt="Logo">
          </a>
        </div>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="d-none d-sm-inline-block">Menu</span>
          <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
          <ul class="navbar-nav u-header__navbar-nav">

            <!-- Docs -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item"
                data-event="hover">
              <a id="docsMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                 aria-haspopup="true"
                 aria-expanded="false"
                 aria-labelledby="docsSubMenu">
                Hizmetler
                <i class="fa fa-angle-down u-header__nav-link-icon"></i>
              </a>

              <!-- Docs - Submenu -->
              <ul id="docsSubMenu" class="list-inline hs-sub-menu u-header__sub-menu px-0 mb-0 py-1" style="min-width: 280px;" aria-labelledby="docsMegaMenu">
                <li class="dropdown-item u-header__sub-menu-list-item py-0 border-bottom">
                  <a class="nav-link px-0 px-lg-3 d-block u-header__sub-menu-nav-link" href="#">
                    <div class="media align-items-center">

                      <div class="d-flex align-items-center justify-content-center bg-primary-soft rounded-circle mr-3" style="width: 60px; height: 60px;">
                        <img class="max-width-5" src="assets/img/webp/services/icon-sac-ekimi.webp" alt="Saç Ekimi">
                      </div>

                      <div class="media-body">
                        <h6 class="d-block text-dark font-weight-medium mb-0">Saç Ekimi</h6>
                      </div>

                    </div>
                  </a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0 border-bottom">
                  <a class="nav-link px-0 px-lg-3 d-block u-header__sub-menu-nav-link" href="#">
                    <div class="media align-items-center">

                      <div class="d-flex align-items-center justify-content-center bg-primary-soft rounded-circle mr-3" style="width: 60px; height: 60px;">
                        <img class="max-width-4" src="assets/img/webp/services/icon-fue-sac-ekimi.webp" alt="Fue Saç Ekimi">
                      </div>

                      <div class="media-body">
                        <h6 class="d-block text-dark font-weight-medium mb-0">Fue Saç Ekimi</h6>
                      </div>

                    </div>
                  </a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0 border-bottom">
                  <a class="nav-link px-0 px-lg-3 d-block u-header__sub-menu-nav-link" href="#">
                    <div class="media align-items-center">

                      <div class="d-flex align-items-center justify-content-center bg-primary-soft rounded-circle mr-3" style="width: 60px; height: 60px;">
                        <img class="max-width-4" src="assets/img/webp/services/icon-dhi-sac-ekimi.webp" alt="DHI Saç Ekimi">
                      </div>

                      <div class="media-body">
                        <h6 class="d-block text-dark font-weight-medium mb-0">DHI Saç Ekimi</h6>
                      </div>

                    </div>
                  </a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0 border-bottom">
                  <a class="nav-link px-0 px-lg-3 d-block u-header__sub-menu-nav-link" href="#">
                    <div class="media align-items-center">

                      <div class="d-flex align-items-center justify-content-center bg-primary-soft rounded-circle mr-3" style="width: 60px; height: 60px;">
                        <img class="max-width-5" src="assets/img/webp/services/icon-safir-fue-sac-ekimi.webp" alt="Safir Fue Saç Ekimi">
                      </div>

                      <div class="media-body">
                        <h6 class="d-block text-dark font-weight-medium mb-0">Safir Fue Saç Ekimi</h6>
                      </div>

                    </div>
                  </a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0 border-bottom">
                  <a class="nav-link px-0 px-lg-3 d-block u-header__sub-menu-nav-link" href="#">
                    <div class="media align-items-center">

                      <div class="d-flex align-items-center justify-content-center bg-primary-soft rounded-circle mr-3" style="width: 60px; height: 60px;">
                        <img class="max-width-5" src="assets/img/webp/services/icon-sakal-ekimi.webp" alt="Sakal Ekimi">
                      </div>

                      <div class="media-body">
                        <h6 class="d-block text-dark font-weight-medium mb-0">Sakal Ekimi</h6>
                      </div>

                    </div>
                  </a>
                </li>
                <li class="dropdown-item u-header__sub-menu-list-item py-0 border-bottom">
                  <a class="nav-link px-0 px-lg-3 d-block u-header__sub-menu-nav-link" href="#">
                    <div class="media align-items-center">

                      <div class="d-flex align-items-center justify-content-center bg-primary-soft rounded-circle mr-3" style="width: 60px; height: 60px;">
                        <img class="max-width-5" src="assets/img/webp/services/icon-kas-ekimi.webp" alt="Kaş Ekimi">
                      </div>

                      <div class="media-body">
                        <h6 class="d-block text-dark font-weight-medium mb-0">Kaş Ekimi</h6>
                      </div>

                    </div>
                  </a>
                </li>
                
              </ul>
            </li>
            <!-- End Docs -->

            <li class="nav-item hs-has-sub-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="contact.html">
                Öncesi ve Sonrası
              </a>
            </li>

            <li class="nav-item hs-has-sub-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="contact.html">
                Hastanemiz
              </a>
            </li>

            <li class="nav-item hs-has-sub-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="contact.html">
                Otelimiz
              </a>
            </li>

            <li class="nav-item hs-has-sub-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="contact.html">
                İletişim
              </a>
            </li>

            <!-- Button 
            <li class="nav-item u-header__nav-item-btn">
              <a class="btn btn-sm btn-primary" href="#signupModal" role="button" data-modal-target="#signupModal" data-overlay-color="#151b26">
                <i class="fab fa-wpforms mr-1"></i>
                Ücretsiz Saç Analizi
              </a>
            </li>
            End Button -->

            <li class="nav-item u-header__nav-item-btn">
              <!-- Language -->
              <div class="btn-group d-block position-relative mb-lg-auto">
                <a id="headerLanguageInvoker" class="btn-text-secondary btn btn-sm d-flex justify-content-center align-items-center text-center text-lg-left border rounded py-2 px-3" href="javascript:;" role="button" aria-controls="headerLanguage" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#headerLanguage" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="false" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                  <i class="fas fa-globe mr-2"></i>
                  <span class="font-size-14">EN</span>
                  <i class="fa fa-angle-down u-unfold__icon-pointer u-unfold--language-icon-pointer ml-2"></i>
                </a>

                <!-- Content -->
                <div id="headerLanguage" class="u-unfold u-unfold--language top-0 right-0 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="headerLanguageInvoker" style="animation-duration: 300ms;">
                  <div class="py-6 px-5">
                    <h4 class="h6 mb-4">Select your language</h4>

                    <div class="row">
                      <div class="col-6">
                        <!-- List of Languages -->
                        <div class="list-group list-group-borderless list-group-flush">
                          <a class="active d-flex align-items-center list-group-item list-group-item-action" href="#">
                            <img class="max-width-3 mr-2" src="assets/theme/space/vendor/flag-icon-css/flags/4x3/us.svg" alt="United States Flag">
                            English
                          </a>
                          <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                            <img class="max-width-3 mr-2" src="assets/theme/space/vendor/flag-icon-css/flags/4x3/fr.svg" alt="France Flag">
                            Français
                          </a>
                          <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                            <img class="max-width-3 mr-2" src="assets/theme/space/vendor/flag-icon-css/flags/4x3/pt.svg" alt="Portugal Flag">
                            Português
                          </a>
                        </div>
                        <!-- End List of Languages -->
                      </div>

                      <div class="col-6">
                        <!-- List of Languages -->
                        <div class="list-group list-group-borderless list-group-flush">
                          <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                            <img class="max-width-3 mr-2" src="assets/theme/space/vendor/flag-icon-css/flags/4x3/es.svg" alt="Spain Flag">
                            Español
                          </a>
                          <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                            <img class="max-width-3 mr-2" src="assets/theme/space/vendor/flag-icon-css/flags/4x3/it.svg" alt="Italy Flag">
                            Italiano
                          </a>
                          <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                            <img class="max-width-3 mr-2" src="assets/theme/space/vendor/flag-icon-css/flags/4x3/tr.svg" alt="Turkey Flag">
                            Türkçe
                          </a>
                        </div>
                        <!-- End List of Languages -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Content -->
              </div>
              <!-- End Language -->
            </li>

          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->