<nav class="main-menu">
    <div class="container">
        <ul>
          <li class="mega-menu">
            <a href="#" class="d-none d-sm-none d-md-none d-lg-block">
              Yazılım Geliştirme
            </a>
            <div class="mega-menu-container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-3">
                      <a href="#">
                        <span>Web Geliştirme</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="#">
                        <span>Mobil Uygulamalar</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="#">
                        <span>Programlama Dilleri</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="#">
                        <span>Oyun Geliştirme</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="#">
                        <span>Veritabanları</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="#">
                        <span>Yazılım Testi</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="d-none d-sm-none d-md-none d-lg-block">
              İşletme
            </a>
          </li>
          <li>
            <a href="#" class="d-none d-sm-none d-md-none d-lg-block">
              BT ve Yazılım 
            </a>
          </li>
          <li>
            <a href="#" class="d-none d-sm-none d-md-none d-lg-block">
              Ofiste Verimlilik
            </a>
          </li>
          <li>
            <a href="#" class="d-none d-sm-none d-md-none d-lg-block">
              Kişisel Gelişim
            </a>
          </li>
          <li>
            <a href="#" class="d-none d-sm-none d-md-none d-lg-block">
              Tasarım
            </a>
          </li>
          <li>
            <a href="#" class="d-none d-sm-none d-md-none d-lg-block">
              Pazarlama
            </a>
          </li>
        </ul>
        <ul class="d-lg-none">
          <li class="d-block w-100 text-center">
            <a href="slidePanel/all-categories.html" data-plugin="slidePanel" data-direction="right">
              <i class="fas fa-th-large"></i> Kategoriler 
            </a>
          </li>
        </ul>
    </div>
  </nav>