.bgcolor-blue-grey-100 {
    background-color: $color-blue-grey-100;
}
.bgcolor-blue-grey-200 {
    background-color: $color-blue-grey-200;
}
.bgcolor-blue-grey-300 {
    background-color: $color-blue-grey-300;
}
.bgcolor-blue-grey-400 {
    background-color: $color-blue-grey-400;
}
.bgcolor-blue-grey-500 {
    background-color: $color-blue-grey-500;
}
.bgcolor-blue-grey-600 {
    background-color: $color-blue-grey-600;
}
.bgcolor-blue-grey-700 {
    background-color: $color-blue-grey-700;
}
.bgcolor-blue-grey-800 {
    background-color: $color-blue-grey-800;
}