nav.main-menu{
    background-color: $color-primary;
    position: relative;
    z-index: 3;
    ul{
        margin:0;
        padding:0;
        list-style: none;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        li{
            &.all-categories{
                position: relative;
                border-left: 1px solid rgba(0,0,0,0.2);
                a{
                    position:initial;
                }
                i{
                    position: absolute;
                    left:0;
                    top:50%;
                    margin-top: -19px;
                    font-size:38px;
                }
            }
            &.mega-menu{
                &:hover{
                    a{
                        &:before{
                            bottom: 0;
                            right: 0;
                            left: 0;
                            margin: 0 auto;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(255, 255, 255, 0);
                            border-bottom-color: #ffffff;
                            border-width: 10px;
                            z-index: 10;
                        }
                    }
                }
            }
            &:first-child{
                a{
                    padding-left: 0 !important;
                }
            }
            &:last-child{
                a{
                    padding-right: 0 !important;
                }
            }
            a{
                position: relative;
                display: block;
                color:#FFF;
                font-size:16px;
                font-weight: 400;
                letter-spacing: 0.025rem;
                height: 60px;
                line-height: 60px;
                padding:0 14px;
                &:hover{
                    text-decoration: none;
                    color:$color-green-800;
                }
                i{
                    font-size:17px;
                }

            }
            &:hover{
                a{
                    color:#005a54;
                }
                .mega-menu-container{
                    display: block;
                    top:60px;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .mega-menu-container{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 2;
            top:64px;
            left:0;
            width: 100%;
            padding: 20px 20px 10px 20px;
            background-color: $color-white;
            border-radius: 0 0 6px 6px;
            -webkit-box-shadow: -10px 0 20px 0 rgba(66,66,66,.2);
            box-shadow: -10px 0 20px 0 rgba(66,66,66,.2);
            a{
                background-color: transparent !important;
                color:#333;
                font-size: 14px;
                padding: 0;
                height: auto;
                line-height:initial;
                letter-spacing: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-bottom: 15px;
                padding-top: 5px;
                margin-bottom: 15px;
                border-bottom: 1px solid #eeeeee;
                &:hover{
                    color:$color-primary;
                    i{
                        color:$color-primary;
                    }
                }
            }
        }
    }
}

html[dir=rtl]{
    nav.main-menu{
        ul{
            li{
                &.all-sections{
                    border-left: 1px solid rgba(0, 0, 0, 0.2);
                    border-right: 0;
                    margin-left: 20px;
                    padding-right: 38px;
                    padding-left: 20px;
                    margin-right: 0;
                    a{
                        i{
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    nav.main-menu ul .mega-menu-container a i{
        margin-right: 0;
        margin-left: 15px;
    }
}

html[dir=rtl][lang=ar]{
    nav.main-menu ul li a{
        font-family: 'noto_kufi_arabicbold';
    }
}

@media only screen and (max-width: 991px) {
    nav.main-menu{
        ul{
            display: flex;
            justify-content: space-between;
            li{
                &:last-child{
                    a{
                        padding: 0;
                    }
                }
            }
        }
    }
}