<!doctype html>
<html class="no-js" dir="{{ site.tr.dir }}" lang="{{ site.tr.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>{%- if title -%}{{ title }} - {{ site.tr.title }}{%- else -%}{{ site.tr.title }}{%- endif -%}</title>

    {% include "meta.html" ignore missing%}
    <link rel="stylesheet" href="assets/css/app.css">

  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

    <div class="page">
      {% include "header.html" ignore missing %}
      <main class="content">
        {{ content | safe }}
      </main>
      {% include "footer.html" ignore missing %}
    </div>

    {% include "components/footer-action.html" ignore missing %}

    <script src="assets/js/app.js"></script>
    <script type="text/javascript">
      $(function(){
        Site.init();
      });
    </script>
    
    <!-- JS Global Compulsory -->
    <script src="assets/theme/space/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/theme/space/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="assets/theme/space/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/theme/space/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="assets/theme/space/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="assets/theme/space/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="assets/theme/space/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/theme/space/vendor/custombox/dist/custombox.min.js"></script>
    <script src="assets/theme/space/vendor/custombox/dist/custombox.legacy.min.js"></script>
    <script src="assets/theme/space/vendor/slick-carousel/slick/slick.js"></script>
    <script src="assets/theme/space/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="assets/theme/space/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="assets/theme/space/vendor/player.js/dist/player.min.js"></script>
    <script src="assets/theme/space/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/theme/space/vendor/typed.js/lib/typed.min.js"></script>


    <!-- JS Space -->
    <script src="assets/theme/space/js/hs.core.js"></script>
    <script src="assets/theme/space/js/components/hs.header.js"></script>
    <script src="assets/theme/space/js/components/hs.unfold.js"></script>
    <script src="assets/theme/space/js/components/hs.validation.js"></script>
    <script src="assets/theme/space/js/helpers/hs.focus-state.js"></script>
    <script src="assets/theme/space/js/components/hs.malihu-scrollbar.js"></script>
    <script src="assets/theme/space/js/components/hs.modal-window.js"></script>
    <script src="assets/theme/space/js/components/hs.show-animation.js"></script>
    <script src="assets/theme/space/js/components/hs.slick-carousel.js"></script>
    <script src="assets/theme/space/js/components/hs.cubeportfolio.js"></script>
    <script src="assets/theme/space/js/components/hs.video-player.js"></script>
    <script src="assets/theme/space/js/components/hs.go-to.js"></script>
    <script src="assets/theme/space/js/components/hs.fancybox.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(window).on('load', function () {
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991,
          hideTimeOut: 0
        });

        var typed = new Typed(".u-text-animation-v2.u-text-animation-v2--typing", {
          strings: ["Profesyonel Saç Ekimi", "Fue Saç Ekimi", "DHI Saç Ekimi", "Safir Fue Saç Ekimi", "Sakal Ekimi", "Kaş Ekimi"],
          typeSpeed: 80,
          loop: true,
          backSpeed: 50,
          backDelay: 3000
        });

      });

      $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
          afterOpen: function () {
            if (!$('body').hasClass('IE11')) {
              $(this).find('input[type="search"]').focus();
            }
          }
        });

        // initialization of form validation
        $.HSCore.components.HSValidation.init('.js-validate', {
          rules: {
            confirmPassword: {
              equalTo: '#password'
            }
          }
        });

        // initialization of forms
        $.HSCore.helpers.HSFocusState.init();

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of autonomous popups
        $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-signup-modal', {
          autonomous: true
        });

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');

        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');

        // initialization of video player
        $.HSCore.components.HSVideoPlayer.init('.js-inline-video-player');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of fancybox
        $.HSCore.components.HSFancyBox.init('.js-fancybox');

      });
    </script>

  </body>
</html>
