.backpage {
    .whatsapp{
        background-color: #3bc039;
    }
    .phone{
        background-color: #1c6be1;
    }
    .instagram{
        background: #f09433;
        background: -moz-linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        background: -webkit-linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    }
    .facebook{
        background: rgb(0,89,252);
        background: linear-gradient(45deg, rgba(0,89,252,1) 0%, rgba(1,151,250,1) 100%);
    }
    .youtube{
        background: rgb(254,0,2);
        background: -moz-linear-gradient(45deg, rgba(254,0,2,1) 0%, rgba(254,0,2,1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(254,0,2,1) 0%, rgba(254,0,2,1) 100%);
        background: linear-gradient(45deg, rgba(254,0,2,1) 0%, rgba(254,0,2,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe0002",endColorstr="#fe0002",GradientType=1);
    }
}