.main-slogan{
    color:$color-white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:24px;
    background: rgb(239,42,42);
    background: -moz-linear-gradient(45deg, rgba(239,42,42,1) 0%, rgba(217,39,39,1) 47%, rgba(239,42,42,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(239,42,42,1) 0%, rgba(217,39,39,1) 47%, rgba(239,42,42,1) 100%);
    background: linear-gradient(45deg, rgba(239,42,42,1) 0%, rgba(217,39,39,1) 47%, rgba(239,42,42,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef2a2a",endColorstr="#ef2a2a",GradientType=1);
}

.banner-wrapper{
    position:relative;
    .actions{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        border-top:1px solid #fff;
        ul{
            list-style:none;
            padding:0;
            margin:0;
            display:flex;
            justify-content: center;
            li{
                border-right:1px solid #fff;
                &:last-child{
                    border-right:0;
                }
                a {
                    padding:18px 20px;
                    display:block;
                    color:#FFF;
                    font-weight:bold;
                    &:hover{
                        color:#DD2727;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
.banner-wrapper{
    .actions{
        ul{
            flex-direction:column;
            li{
                border-right:0px;
                border-bottom:1px solid #fff;
                &:last-child{
                    border-right:0;
                    border-bottom:0;
                }
                a {
                    padding:6px 20px;
                    display:block;
                    color:#FFF;
                    font-weight:bold;
                    &:hover{
                        color:#DD2727;
                    }
                }
            }
        }
    }
}
}

.facebook{
    background: #0059fc;
    background: linear-gradient(45deg,#0059fc,#0197fa);
}

.twitter{
    background: #1A91DA;
    background: linear-gradient(45deg,#1A91DA,#3dacf0);
}

.youtube {
    background: #fe0002;
    background: linear-gradient(45deg,#fe0002,#fe0002);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe0002",endColorstr="#fe0002",GradientType=1)
}