---
layout: layouts/default-tr
title: Home - Esteda Hair Hospital
description:
permalink: home.html
bodyClass: home
---

<div class="page-inner">
    <div class="page-content">

    <!-- Hero Section -->
    <div class="gradient-overlay-half-dark-v3 bg-img-hero" style="background-image: url(assets/img/webp/sac-ekimi.webp); background-size: cover; background-position: center center;">
      <!-- Main Content -->
      <div class="d-lg-flex align-items-lg-center height-85vh--lg">
        <div class="container space-2 space-0--lg">

          <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-7 mb-0 mb-lg-0">
              <!-- Title -->
              <span class="d-block text-white text-uppercase mb-3">ESTEDA HAIR HOSPITAL</span>
              <h1 class="display-4 font-size-48--md-down text-white mb-0">
                <strong class="u-text-animation-v2 u-text-animation-v2--typing"></strong>
              </h1>
              <div class="text-white border-white border font-weight-bold float-left rounded text-uppercase mt-4 bg-primary px-4 py-2"><i class="fas fa-map-marker-alt mr-2"></i> İSTANBUL, TURKEY</div>
              <!-- End Title -->
            </div>

            <div class="col-lg-5">

            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
    <!-- End Hero Section -->

    <!-- Biz Size Ulaşalım -->
    <div class="call-you-wrapper bg-dark" style="background-image: url(assets/theme/space/img/bg/bg2.png);">
      <div class="container py-4">
        <div class="row">
          <div class="col-12 col-md-6 order-1 order-md-0">
            <p class="font-size-30 font-weight-bold text-white text-center text-md-left mb-4">Formu Doldurun, Biz Size Ulaşalım</p>
          </div>
          <div class="col-12 col-md-6 order-0 order-md-1">
            <p class="font-size-30 font-weight-bold text-white text-center text-md-right mb-4">
              <img class="max-width-4 rounded mr-2" src="assets/theme/space/vendor/flag-icon-css/flags/4x3/tr.svg" alt="Turkey Flag">
              +90 537 947 5733
            </p>
          </div>
        </div>
        
        <form class="js-validate">
          <div class="row">
              <div class="col-12 col-lg-5 col-xl-5">
                <!-- Input -->
                <div class="js-form-message mb-3 mb-lg-0">
                  <div class="js-focus-state input-group form">
                    <div class="input-group-prepend form__prepend">
                      <span class="input-group-text form__text">
                        <span class="fa fa-user form__text-inner"></span>
                      </span>
                    </div>
                    <input type="text" class="form-control form__input" name="name" required
                          placeholder="Ad ve Soyad"
                          aria-label="name"
                          data-msg="Lütfen ad ve soyad alanını boş bırakmayınız."
                          data-error-class="u-has-error"
                          data-success-class="u-has-success">
                  </div>
                </div>
                <!-- End Input -->
              </div>
              <div class="col-12 col-lg-5 col-xl-5">
                <!-- Input -->
                <div class="js-form-message mb-3 mb-lg-0">
                  <div class="js-focus-state input-group form">

                    <input type="tel" data-plugin="intlTelInput" id="phone" name="phone" class="form-control form__input" required
                      aria-label="phone"
                      data-msg="Lütfen telefon alanını boş bırakmayınız."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success" 
                      autocomplete="off">

                  
                  </div>
                </div>
                <!-- End Input -->
              </div>
              <div class="col-12 col-lg-2 col-xl-2">
                <button type="submit" class="btn btn-block btn-md btn-primary">
                  Gönder
                </button>
              </div>
          </div>
        </form>

      </div>
    </div>
    <!-- End / Biz Size Ulaşalım -->

    <!-- Video Section -->
    <div class="container space-2 space-2--lg">
      <div class="row justify-content-lg-between pt-5">
        <div class="col-md-6 col-lg-5 order-md-2 mb-7 mb-md-0">
          <!-- Title -->
          <div>
            <span class="u-label u-label--sm u-label--blue mb-3">Hakkımızda</span>
            <h2 class="h3">Esteda Hair Hospital</h2>
            <p>Esteda Hair Hospital, 2010 yılında saç dökülmesi problemi yaşayan hastalarımıza umut vermek amacıyla kuruldu. 10.000’in üzerinde memnun hastamızla, yıllardır en iyi hizmeti sunuyoruz</p>
            <p>Eda Yıldız – Kurucu / Esteda Hair Hospital</p>
            <p>
              <img src="assets/img/webp/esteda-imza.webp" alt="Eda Yıldız">
            </p>
          </div>
          <!-- End Title -->
        </div>

        <div class="col-md-6 order-md-1">
          <!-- Video Player -->
          <a class="js-fancybox d-block text-center bg-img-hero" href="javascript:;" style="background-image: url(assets/img/webp/video-eda-yildiz-esteda-hair-hospital.webp); background-position: bottom center;"
              data-src="//www.youtube.com/watch?v=hKe8B1-Z_Nk"
              data-speed="700"
              data-animate-in="zoomIn"
              data-animate-out="zoomOut"
              data-caption="Eda Yıldız - Esteda Hair Hospital">
            <span class="d-inline-block u-media-player space-3">
              <span class="u-media-player__icon u-media-player__icon--primary">
                <i class="fa fa-play u-media-player__icon-inner"></i>
              </span>
            </span>
          </a>
          <!-- End Video Player -->
        </div>
      </div>
    </div>
    <!-- End Video Section -->

    <!-- Icon Blocks Section -->
    <div class="bg-gray-100">
      <div class="container space-2 space-2--lg">
        <!-- Title -->
        <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
          <span class="u-label u-label--sm u-label--blue mb-3">Hizmetlerimiz</span>
          <h2 class="h3">Profesyonel Saç Ekim Hizmetlerimiz</h2>
          <p>Saç Ekimi hizmeti hakkında daha detaylı bilgi almak için tıklayınız</p>
        </div>
        <!-- End Title -->

        <div class="row justify-content-center">
          <div class="col-6 col-sm-4 col-lg mb-5 mb-lg-0">
            <!-- Icon Block -->
            <a class="d-block card-frame bg-white text-center rounded py-7 px-3" href="#">
              <img class="d-block max-width-12 mx-auto mb-4" src="assets/img/webp/services/icon-sac-ekimi.webp" alt="Saç Ekimi">
              <h3 class="h6 text-dark mb-0">Saç Ekimi</h3>
            </a>
            <!-- End Icon Block -->
          </div>

          <div class="col-6 col-sm-4 col-lg mb-5 mb-sm-0">
            <!-- Icon Block -->
            <a class="d-block card-frame bg-white text-center rounded py-7 px-3" href="#">
              <img class="d-block max-width-12 mx-auto mb-4" src="assets/img/webp/services/icon-fue-sac-ekimi.webp" alt="Fue Saç Ekimi">
              <h3 class="h6 text-dark mb-0">Fue Saç Ekimi</h3>
            </a>
            <!-- End Icon Block -->
          </div>

          <div class="col-6 col-sm-4 col-lg mb-5 mb-sm-0">
            <!-- Icon Block -->
            <a class="d-block card-frame bg-white text-center rounded py-7 px-3" href="#">
              <img class="d-block max-width-12 mx-auto mb-4" src="assets/img/webp/services/icon-dhi-sac-ekimi.webp" alt="DHI Saç Ekimi">
              <h3 class="h6 text-dark mb-0">DHI Saç Ekimi</h3>
            </a>
            <!-- End Icon Block -->
          </div>

          <div class="col-6 col-sm-4 col-lg mb-5 mb-sm-0">
            <!-- Icon Block -->
            <a class="d-block card-frame bg-white text-center rounded py-7 px-3" href="#">
              <img class="d-block max-width-12 mx-auto mb-4" src="assets/img/webp/services/icon-safir-fue-sac-ekimi.webp" alt="Safir Fue Saç Ekimi">
              <h3 class="h6 text-dark mb-0">Safir Fue Saç Ekimi</h3>
            </a>
            <!-- End Icon Block -->
          </div>

          <div class="col-6 col-sm-4 col-lg">
            <!-- Icon Block -->
            <a class="d-block card-frame bg-white text-center rounded py-7 px-3" href="#">
              <img class="d-block max-width-12 mx-auto mb-4" src="assets/img/webp/services/icon-sakal-ekimi.webp" alt="Sakal Ekimi">
              <h3 class="h6 text-dark mb-0">Sakal Ekimi</h3>
            </a>
            <!-- End Icon Block -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Icon Blocks Section -->

    <div class="bg-dark text-white space-2 overflow-hidden">
      <div class="container">
        <div class="row no-gutters align-items-center">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h6 class="text-uppercase font-weight-medium letter-spacing-0_06 mb-3">MÜŞTERİ DENEYİMLERİ</h6>
            <h2 class="text-lh-xs mb-4">Gerçekleştirdiğimiz operasyon <br class="d-none d-lg-inline-block"> sonuçlarımız</h2>
            <p class="text-white-70">Aynaya Korkmadan Bakın, 
              <br class="d-none d-lg-inline-block"> Özgüveninizi Geri Kazanın!</p>
    
            <!-- Gallarie's arrows -->
            <div id="sliderSyncingThumb" class="js-slick-carousel u-slick pt-9 mt-6"
                 data-infinite="true"
                 data-slides-show="1"
                 data-is-thumbs="true"
                 data-nav-for="#sliderSyncingNav"
                 data-arrows-classes="u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
                 data-arrow-left-classes="fa fa-arrow-left u-slick__arrow-classic-inner bg-white text-dark left-0"
                 data-arrow-right-classes="fa fa-arrow-right u-slick__arrow-classic-inner bg-white text-dark right-0" style="width: 90px;">
              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-1.webp" alt="Hair Transplant Before-After">
              </div>
    
              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-2.webp" alt="Hair Transplant Before-After">
              </div>
    
              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-3.webp" alt="Hair Transplant Before-After">
              </div>
    
              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-4.webp" alt="Hair Transplant Before-After">
              </div>
    
              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-5.webp" alt="Hair Transplant Before-After">
              </div>
    
              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-6.webp" alt="Hair Transplant Before-After">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-7.webp" alt="Hair Transplant Before-After">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-8.webp" alt="Hair Transplant Before-After">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-9.webp" alt="Hair Transplant Before-After">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="assets/img/webp/hair-transplant/hair-transplant-10.webp" alt="Hair Transplant Before-After">
              </div>

            </div>
            <!-- End Gallarie's arrows -->
          </div>
    
          <div class="col-lg-6 offset-lg-1">
            <div class="position-relative h-100 vw-lg-50">
              <!-- Slick Carousel -->
              <div id="sliderSyncingNav" class="js-slick-carousel js-slick-gallery u-slick u-slick--equal-height u-slick--gutters-3 mr-lg-n9"
                   data-infinite="true"
                   data-slides-show="3"
                   data-center-mode="false"
                   data-nav-for="#sliderSyncingThumb"
                   data-responsive='[{
                     "breakpoint": 1442,
                     "settings": {
                       "slidesToShow": 3
                     }
                   }, {
                     "breakpoint": 1441,
                     "settings": {
                       "slidesToShow": 3
                     }
                   }, {
                     "breakpoint": 992,
                     "settings": {
                       "slidesToShow": 2
                     }
                   }, {
                     "breakpoint": 768,
                     "settings": {
                       "slidesToShow": 1
                     }
                   }, {
                     "breakpoint": 300,
                     "settings": {
                       "slidesToShow": 1
                     }
                   }]'>
                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-1.webp);"></div>
                </div>
    
                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-2.webp);"></div>
                </div>
    
                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-3.webp);"></div>
                </div>
    
                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-4.webp);"></div>
                </div>
    
                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-5.webp);"></div>
                </div>
    
                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-6.webp);"></div>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-7.webp);"></div>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-8.webp);"></div>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-9.webp);"></div>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <div class="w-100 card bg-img-hero border-0 min-height-320 text-white rounded-pseudo p-3" style="background-image: url(assets/img/webp/hair-transplant/hair-transplant-10.webp);"></div>
                </div>

              </div>
              <!-- End Slick Carousel -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Timeline Section -->
    <div class="container space-2-top space-2-top--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <span class="u-label u-label--sm u-label--blue mb-3">Hadi Başlayalım</span>
        <h2 class="h3">Saç Ekiminde Süreç Nasıl İşliyor?</h2>
        <p>Yurt dışından gelen misafirlerimiz için herşeyi kolay hale getiriyoruz.</p>
      </div>
      <!-- End Title -->

      <!-- Timeline -->
      <ul class="u-timeline">
        <li class="u-timeline__item">
          <div class="u-timeline__content">
            <div class="media">
              <span class="u-icon u-icon--primary u-icon--sm u-timeline__icon rounded-circle mr-3">
                <span class="u-icon__inner">1</span>
              </span>
              <div class="media-body">
                <h4 class="h5">Havalanından Karşılama</h4>
                <p>Saç ekim işlemi için ülkemize gelen misafirimizin karşılama kodu daha öncesinden kendisine iletilir ve bu kodu görsel olarak tutan kişiler tarafından karşılanır.</p>
              </div>
            </div>
          </div>
          <div class="u-timeline__info">
            <img class="w-75 w-sm-50 w-lg-75 mx-lg-auto" src="assets/img/svg/havaalani-karsilama.svg" alt="Havaalanında Karşılama">
          </div>
          <div class="u-timeline__spacer"></div>
        </li>

        <li class="u-timeline__item">
          <div class="u-timeline__content">
            <div class="media">
              <span class="u-icon u-icon--primary u-icon--sm u-timeline__icon rounded-circle mr-3">
                <span class="u-icon__inner">2</span>
              </span>
              <div class="media-body">
                <h4 class="h5">Şehir içi Tüm Transferler</h4>
                <p>Misafirimizin otel ve hastane arasındaki operasyon, pansuman olması gibi tüm gidiş-geliş transferlerini ücretsiz olarak tarafımızdan yapılmaktadır.</p>
              </div>
            </div>
          </div>
          <div class="u-timeline__info">
            <img class="w-75 w-sm-50 w-lg-75 mx-lg-auto" src="assets/img/svg/sehir-ici-ulasim.svg" alt="Şehir içi Tüm Transferler">
          </div>
          <div class="u-timeline__spacer"></div>
        </li>

        <li class="u-timeline__item">
          <div class="u-timeline__content">
            <div class="media">
              <span class="u-icon u-icon--primary u-icon--sm u-timeline__icon rounded-circle mr-3">
                <span class="u-icon__inner">3</span>
              </span>
              <div class="media-body">
                <h4 class="h5">3 Gün 5 Yıldızlı Otelde Konaklama</h4>
                <p>Misafirimiz 1. gün yol yorgunu olacağından dinlenir, 2. gün sabahı operasyona alınır, 3. gün pansuman ve dinlenme yapılır. 4. gün sabahı hava limanından yolcu edilir.</p>
              </div>
            </div>
          </div>
          <div class="u-timeline__info">
            <img class="w-75 w-sm-50 w-lg-75 mx-lg-auto" src="assets/img/svg/otel.svg" alt="5 Yıldızlı Otel Konaklama">
          </div>
          <div class="u-timeline__spacer"></div>
        </li>

        <li class="u-timeline__item">
          <div class="u-timeline__content">
            <div class="media">
              <span class="u-icon u-icon--primary u-icon--sm u-timeline__icon rounded-circle mr-3">
                <span class="u-icon__inner">4</span>
              </span>
              <div class="media-body">
                <h4 class="h5">Saç Ekimi İşlemi</h4>
                <p>Kan tahlili sonucunda sabah saatlerinde başlar, 6 veya 8 saat arasında sürer. uygun olan fue veya dhi ekim işlemi uygulanır.</p>
              </div>
            </div>
          </div>
          <div class="u-timeline__info">
            <img class="w-75 w-sm-50 w-lg-75 mx-lg-auto" src="assets/img/svg/sac-ekimi-islemi.svg" alt="Saç Ekim İşlemi">
          </div>
          <div class="u-timeline__spacer"></div>
        </li>
      </ul>
      <!-- End Timeline -->
    </div>
    <!-- End Timeline Section -->

    <div class="container position-relative z-index-2 mb-n5">
      <div class="w-md-80 w-lg-60 mx-md-auto">
        <div class="bg-primary shadow-lg text-center rounded bg-img-hero p-9" style="background-image: url(assets/theme/space/img/bg/bg2.png);">
          <div class="mb-5">
            <h2 class="h3 text-white">Sizde Saç Ekimi Yaptırmaya Kendinizi Hazır Hissettiniz mi?</h2>
            <p class="text-light">Hizmetlerimiz hakkında size rehberlik edelim. </p>
          </div>
          <a class="btn btn-wide btn-light mb-1 mb-sm-0 mr-sm-2" target="_blank" href="https://api.whatsapp.com/send?phone=905301751670&text=Merhaba, Saç ekimi hakkında bilgi almak istiyorum.">
              <i class="fab fa-whatsapp mr-2"></i> 
              <span>Whatsapp</span>
          </a>
          <a class="btn btn-wide btn-outline-light mb-1 mb-sm-0" target="_blank" href="https://www.instagram.com/estedahair/">
            <i class="fab fa-instagram mr-2"></i> 
            <span>Instagram</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Resources Section - Title -->
    <div class="bg-secondary bg-img-hero" style="background-image: url(assets/theme/space/img/bg/bg2.png);">
      <div class="container space-2-top space-3-top--lg space-3-bottom">
        <!-- Title -->
        <div class="w-md-80 text-center w-lg-60 mx-lg-auto">
          <span class="u-label u-label--sm u-label--light mb-3">Güncel Gelişmeler</span>
          <h2 class="text-white">Haber / Blog Yazılarımız</h2>
        </div>
        <!-- End Title -->
      </div>
    </div>
    <!-- End Resources Section - Title -->
    
    <!-- Resources Section - Content -->
    <div class="container space-2-bottom space-2-bottom--lg mt-n9">
      <!-- Slick Carousel -->
      <div class="js-slick-carousel u-slick u-slick--gutters-3 u-slick--equal-height u-slick--pagination-modern"
            data-slides-show="3"
            data-slides-scroll="2"
            data-pagi-classes="u-slick__pagination mt-2 mr-1"
            data-responsive='[{
              "breakpoint": 992,
              "settings": {
                "slidesToShow": 2
              }
            }, {
              "breakpoint": 768,
              "settings": {
                "slidesToShow": 1
              }
            }]'>
        <!-- Card -->
        <div class="js-slide">
          <div class="card border shadow-sm rounded mb-4">
            <div class="card-header bg-gray-100 p-5">
              <h3 class="small text-muted text-uppercase">HABER</h3>
              <div class="row">
                <div class="col-6">
                  <h4 class="h6">
                    <a href="#">Gimme that Awwward!</a>
                  </h4>
                </div>
                <div class="col-6">
                  <img class="img-fluid" src="assets/theme/space/img/500x330/img21.jpg" alt="Image Description">
                </div>
              </div>
            </div>
            <div class="card-body pt-5 px-5">
              <p>Tis the season to be jolly, and Ueno has one more thing to be cheery about in 2017.</p>
            </div>
            <div class="card-footer border-0 pt-0 pb-5 px-5">
              <a class="btn btn-sm btn-primary" href="#">Devamı</a>
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="js-slide">
          <div class="card border shadow-sm rounded mb-4">
            <div class="card-header bg-gray-100 p-5">
              <h3 class="small text-muted text-uppercase">Webinar</h3>
              <div class="row">
                <div class="col-6">
                  <h4 class="h6">
                    <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">A win-win-win situation</a>
                  </h4>
                </div>
                <div class="col-6">
                  <img class="img-fluid" src="assets/theme/space/img/500x330/img11.jpg" alt="Image Description">
                </div>
              </div>
            </div>
            <div class="card-body pt-5 px-5">
              <p>It's nice to win awards. Last night, the Ueno team in Reykjavík came home from the Icelandic Web Awards.</p>
            </div>
            <div class="card-footer border-0 pt-0 pb-5 px-5">
              <a class="btn btn-sm btn-primary" href="#">Devamı</a>
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="js-slide">
          <div class="card border shadow-sm rounded mb-4">
            <div class="card-header bg-gray-100 p-5">
              <h3 class="small text-muted text-uppercase">Article</h3>
              <div class="row">
                <div class="col-6">
                  <h4 class="h6">
                    <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">Key benefits of project Space template</a>
                  </h4>
                </div>
                <div class="col-6">
                  <img class="img-fluid" src="assets/theme/space/img/500x330/img22.jpg" alt="Image Description">
                </div>
              </div>
            </div>
            <div class="card-body pt-5 px-5">
              <p>Test Space on Atlassian Cloud with your own data for free.</p>
            </div>
            <div class="card-footer border-0 pt-0 pb-5 px-5">
              <a class="btn btn-sm btn-primary" href="#">Devamı</a>
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="js-slide">
          <div class="card border shadow-sm rounded mb-4">
            <div class="card-header bg-gray-100 p-5">
              <h3 class="small text-muted text-uppercase">Start-Up</h3>
              <div class="row">
                <div class="col-6">
                  <h4 class="h6">
                    <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">InVision design forward fund</a>
                  </h4>
                </div>
                <div class="col-6">
                  <img class="img-fluid" src="assets/theme/space/img/500x330/img20.jpg" alt="Image Description">
                </div>
              </div>
            </div>
            <div class="card-body pt-5 px-5">
              <p>Clark Valberg is the founder and CEO of InVision.</p>
            </div>
            <div class="card-footer border-0 pt-0 pb-5 px-5">
              <a class="btn btn-sm btn-primary" href="#">Devamı</a>
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="js-slide">
          <div class="card border shadow-sm rounded mb-4">
            <div class="card-header bg-gray-100 p-5">
              <h3 class="small text-muted text-uppercase">Business</h3>
              <div class="row">
                <div class="col-6">
                  <h4 class="h6">
                    <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">A new look for Reuters.com</a>
                  </h4>
                </div>
                <div class="col-6">
                  <img class="img-fluid" src="assets/theme/space/img/500x330/img10.jpg" alt="Image Description">
                </div>
              </div>
            </div>
            <div class="card-body pt-5 px-5">
              <p>We've been working hard with our besties at Reuters to design a new reading experience for Reuters.com.</p>
            </div>
            <div class="card-footer border-0 pt-0 pb-5 px-5">
              <a class="btn btn-sm btn-primary" href="#">Devamı</a>
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="js-slide">
          <div class="card border shadow-sm rounded mb-4">
            <div class="card-header bg-gray-100 p-5">
              <h3 class="small text-muted text-uppercase">Design</h3>
              <div class="row">
                <div class="col-6">
                  <h4 class="h6">
                    <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">A UX strategy for the Ultimate Product Launch</a>
                  </h4>
                </div>
                <div class="col-6">
                  <img class="img-fluid" src="assets/theme/space/img/500x330/img15.jpg" alt="Image Description">
                </div>
              </div>
            </div>
            <div class="card-body pt-5 px-5">
              <p>Different stations of elements to reach the ultimate destination of design.</p>
            </div>
            <div class="card-footer border-0 pt-0 pb-5 px-5">
              <a class="btn btn-sm btn-primary" href="#">Devamı</a>
            </div>
          </div>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Slick Carousel -->
    </div>
    <!-- End Resources Section - Content -->

    </div>
</div>